@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/**************************

Mobile View 

**************************/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
        overflow: hidden;
    }

    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}




* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #17102f;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 0 15px 0 15px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 12px #110c22;
    padding: 2em;
    margin: 1em;
}

.nav-header {
    color: #795ecf;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-cond {
    display: flex;
    flex-direction: column;
    margin-top: -40%;
    margin-left: -4em;
}

.search-box {
    padding: 1em 2em;
    margin: 1em 1em;
    border-radius: 0 15px 0 15px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 8px #110c22;
    animation: fadeInAnimation ease-in 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    }
    
    50% {
        opacity: 1;
    }

    100% { 
        opacity: 5; 
    } 
}

.search-box p {
    color: #fdfbffa8;
    font-weight: 400;
    letter-spacing: 1px;
}

.search-input {
    display: flex;
    justify-content: space-evenly;
}

.search-button {
    margin: 0;
    padding: 1em;
    border: none;
    border-radius: 100%;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 10px #1f153c, 
                -5px -5px 5px #291d52;
    color: #fff;
}

.search-button :hover {
    cursor: pointer;  
    color: #eb8e15;
}


.search-input input[type=search] {
    margin: .5em  1em;
    padding: .5em 1em;
    width: 15em;
    font-size: 1em;
    border: none;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  inset 5px 5px 10px #1f153c, 
                 inset -5px -5px 10px #291d52;
  
}



.weather-cond-card {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    margin: 2em 1em;
    border-radius: 0 25px 0 25px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 8px #110c22; 
    animation: fadeInAnimation ease-in 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    }
    
    50% {
        opacity: 1;
    }

    100% { 
        opacity: 5; 
    } 
}          
    

.card-header {
    color: #fdfbffa8;
    font-weight: 400;
    letter-spacing: 1px;
    align-items: center;
            
}

.card-text  {
    color: #ffffff;
}


.display-5 {
    color: #e9e0eb;
}

.container-forecast {
    padding: 2em;
    margin: 3em 5em;
    border-radius: 0 15px 0 15px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 12px #110c22;
    animation: fadeInAnimation ease-in 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    }
    
    50% {
        opacity: 1;
    }

    100% { 
        opacity: 5; 
    } 
}


.card-container {
    display: flex;
    flex-direction: column;
}

.card-section-1 {
    display: flex;
}

.card-section-2 {
    display: flex;
}


.card-body p {
    display: flex;
    flex-direction: column;
    color: #d7ddeb;
}


.current-day {
    margin-top: -1em;
    font-size: 1em;
    color: #d4a816;
    font-weight: 700;
}

.day {
    margin-top: -1em;
    font-size: .8em;
    color: #506af0;
    font-weight: 400;
}

.secondary-card {
    padding: 2em 1.5em;
    margin: .5em;
    border-radius: 3px;
    background: linear-gradient(145deg, #201740, #271b4c);
    box-shadow:  5px 5px 10px #1f153c, 
                -5px -5px 5px #291d52;
}

#today {
    padding: 3em 2.5em;
    margin: .5em;
    border-radius: 3px;
    background: linear-gradient(145deg, #191722, #161222);
    box-shadow:  5px 5px 10px #1b152a, 
                -5px -5px 10px #231b3b;
}


